body{
        background-color:skyblue;
        text-align:center;
}

#list li{
        list-style:none;
        font-size: 18px;
        /* padding:10px; */
}


#main{
                background-color:skyblue;
                margin:10px auto;
}

.myButton:active,
.myButton:focus {
	border: 1px solid #cdd8e0; 
	outline: 0;
}



.myButton {
	box-shadow:inset -7px -7px 22px -6px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:12px 10px;
        text-decoration:none;
        margin-left:5px;
}


        
.inputtext{
        height:30px;
        padding-left: 23px;
        width: 230px;
        font-size:12px;
        color:#666666;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-top-right-radius: 11px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 40px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-topright: 11px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 11px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 40px;
}

.inputtext:active,
.inputtext:focus {
	border: 1px solid #cdd8e0; 
	outline: 0;
}



.design{
               
width: 65%;
               
background-color:white;
               
color:#666666;
               
margin: 0 auto;
               
-webkit-border-top-left-radius: 25px;
               
-webkit-border-top-right-radius: 11px;
               
-webkit-border-bottom-right-radius: 20px;
               
-webkit-border-bottom-left-radius: 40px;
               
-moz-border-radius-topleft: 25px;
               
-moz-border-radius-topright: 11px;
               
-moz-border-radius-bottomright: 20px;
               
-moz-border-radius-bottomleft: 40px;
               
border-top-left-radius: 25px;
               
border-top-right-radius: 11px;
               
border-bottom-right-radius: 20px;
               
border-bottom-left-radius: 40px;
               
-webkit-box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
               
-moz-box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
               
box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
}
.design h4{
                margin-top:20px;
}

.design ul{
        font-size:15px;
        padding-left:10px;
}

.img1{
               height: 16px;
               margin-left:11px;
}

.img1:hover{
                cursor: pointer;
}
#class-name
{
     text-transform: uppercase;
}